/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Assistant:700');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import "compass/css3";

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after {box-sizing:  border-box !important;}

/* Scale down images and embedded videos so they don't overflow their parents */

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5em;
	color: #222;
}

/*	Generally, you will only want one container element in
	the document, wrapping around the main content area.
	If you have more than one container, you are probably doing
	something wrong.
*/
a {
	align: center;
	color: #000000;
		font-size: 15px;
		letter-spacing: .1em;
    text-decoration: none;
		font-family: "Assistant";
}

a:hover
{
     color:#000000;
		 text-decoration: line-through;
     cursor:pointer;
}

img{
	float: left;
	margin-top: 80px;
	margin-left: -560px;
}


h1{
	position: absolute;
	font-family: 'Abel', serif;
	font-size: 120px;
	line-height: 140px;
	margin-top: 2%;
	letter-spacing: .1em;
	margin-left: 10%;
}


h1:hover{
	color: #b18f81;

	font-family: 'Abel';
}

#button {
	align: center;
	display: block;
	overflow: hidden;
	padding: 1em 1em 1em 1em;
	margin-bottom: 10px;
	border: 1px solid black;
	width: 20%;
}

h2{
	font-family: 'Assistant', serif;
	font-size: 27px;
	letter-spacing: .2em;
	text-align: left;
	margin-top: -.3em;
	padding-left: 2em;
}

h3{
	font-family: 'Assistant', serif;
	font-size: 30px;
	letter-spacing: .2em;
	text-align: center;
	text-decoration: underline;
	margin-top: -.3em;
	padding-left: 2em;
}

h4{
	font-family: 'Assistant', serif;
	font-size: 15px;
	letter-spacing: .03em;
	text-align: left;
	line-height: -10em;
	margin-top: -.3em;
	padding-left: 2em;
}

p{
	font-size: 15px;
	width: 100%;
}

.navcontainer {
	text-align: center;
	background-color: #ffffff;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 90%;
	max-width: 1250px;
	padding: 2em;
}

.container {
	background-color: #ffffff;
	width: 60%;
	height: 110%;
	padding: 3em;
	margin-top: -12em;
}

.container1 {
	background-color: #b0a2a2;
	max-width: 50%;
	height: 84%;
	padding: 5em;
	margin-top: 3em;
	margin-left: 37%;
	padding-left: 10em;
	grid-row: 2/2;
	grid-column: 2/2;
}

img {
	height: 700px;
	padding-right: 3em;
	grid-column: 1/2;
}

.grid {
	margin-top: 5em;
  display: grid;
  align-items: center;
}
